/* :root {
  --color-light: rgb(85, 85, 85);
  --color-dark: rgb(220, 220, 220);
}

[class="light"] {
  --body-color: var(--color-light);
  --link-color: var(--color-light);
}

[class="dark"] {
  --body-color: var(--color-dark);
  --link-color: var(--color-dark);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

html {
  color: var(--body-color);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;